.navBar-banner-headings ul {
  display: flex;
  gap: 90px;
  margin-left: -40px;
}
.navBar-banner-headings li a {
  text-decoration: none;
}
.navBar-banner-headings ul li a:hover {
  background-color: #5C5787 !important;
  color: #FEB737 !important;
  padding: 10px !important;
  border-radius: 10px !important;
}

.navBar-banner-headings li {
  list-style: none;
  font-weight: bold;
  font-size: 25px;
}
.navBar-banner-logo img {
  height: 110px;
  width: 110px;
  margin: 0px 40px 0px 95px;
}
.navBar-banner {
  width: 100%;
  height: 70px;
  background-color: #ffebae;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}
#homePage {
  background-color: #d4e0f0;
  width: 100%;
  height: auto;
}
#homePage .home-page-info-banner {
  display: flex;
}
#homePage .home-page-info {
  display: flex;
  align-items: center;
  margin-left: 114px;
  margin-top: -100px;
  flex-direction: column;
}
.homePage-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home-page-sub-info {
  margin: 180px 0px 0 0;
  font-size: 25px;
}
.home-page-info-btn button.btn {
  height: 60px;
  width: 155px;
  border-radius: 30px;
  border-color: #543787;
  background-color: #ffebae;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.home-page-info-btn button.btn img {
  height: 100px;
  width: 100px;
}
.home-page-info-btn button.btn span {
  margin-left: 6px;
}
/* -------------------------------------dish-banner section --------------------------------------------------*/
.arrow{
  height:60px;
  cursor: pointer;
  border: none;
    background: transparent;
}
section#dish-banner .dish-slide-container{
  display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 80px;
    overflow: hidden;
    width: 1251px;
    margin-top: 50px;
}

#dish-banner {
  width: 100%;
  height: auto;
  background-color: #7cbbc0;
  padding-top: 35px;
  padding-bottom: 90px;
}
.dish-image img{
  height: 170px;
    width: 220px;
    border-radius: 25px;
    margin: 14px 14px -5px 14px;
}
.dish-content-wrapper{
  width: 250px;
  height: 310px;
  background-color: #d4e0f0;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  margin-top: 50px;
  border: 2px solid #543787;
}

.dish-info{
  margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
.dish-banner-title{
  height: 60px;
  width: 342px;
  background-color: #ffebae;
  font-size: 50px;
  margin-left: 432px;
  box-shadow: 10px 10px;
}

button.btn.dish{
  background-color: #ffebae;
  border-radius: 25px;
  height: 29px;
  width: 140px;
  margin-bottom: 5px;
}
.slider-dish-price svg{
  height: 14px;
  width: 14px;
}
.add-to-cart-button .btn.cart-btn{
    background-color: #543787;
    height: 40px;
    width: 177px;
    border-radius: 25px;
    font-weight: bold;
    color: #FEB737;
    font-size: 20px;
}

.btn.cart-btn .cart-btn-text{
color: #FEB737;
FONT-SIZE: 20px;
margin-right: 12px;
}
.add-cart{
  color: #feb737;
  margin-left: -16px;
  margin-right: 5px;
  font-size: 19px;
}

.slider-dish-price{
  font-weight: bold;
}
button.btn.cart-btn svg{
  height: 25px;
  width: 25px;
  margin-bottom: -5px;
}
.dish-content-wrapper :hover{
  cursor: pointer;
  
}
/* ------------------------------------footer------------------------------------------------------------ */
#footer-banner-wrapper{
  background:#FFEBAE ;
  padding: 50px 50px 10px 50px;
}
.books-footer{
 
  padding: 40px;

  display: flex;
  column-gap: 150px;
}
ul#icon{
  display: flex;
  gap: 35px;
  margin-top: 10px;
  list-style: none;
}


ul#info li{
  display: flex;
    justify-content: space-around; 
    margin-top: 10px;
}
.section.about-us p{
  margin-bottom: 15px;
  margin-top: 15px;
}
.footer-banner{
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: flex-start;
}
#support{
  list-style: none;
}
.contact-wrapper{
  display: flex;
  align-items: center;
    gap: 10px;
  }
  .contact-wrapper p {
    margin: 0; /* Remove extra space around the phone number */
}
.contact-num a {
  text-decoration: none;
  color: inherit; /* Matches the text color */
}

.feedback-wrapper{
  display: flex;
}
.copyright{
  margin-top: 20px;
}
#support li a{
  
    text-decoration: none;
    
}
/* ------------------------------login page-------------------------------------------------------------------------------------- */

.login-wrapper{
  background-color: #7cbbc0;
  height: 325px;
  width:500px;
  margin-left: 360px;
    margin-top: 135px;
    border-radius: 45px;
    border: 2px solid #5C5787;
}

.login-info-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}
.login-img img{
  height: 160px;
 
}
.login-id {
  margin-bottom: 25px;
}
.login-text{
  background: #FFEBAE;
  height: 40px;
  color: #5C5787;
  border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}
.login-text h2{
  margin: 0px 0px 44px 205px;
}
.btn.login-btn{
  background-color: #FFEBAE ;
  height: 30px;
  width: 85px;
  border-radius: 25px;
  font-weight: bold;
  color: #543787;
  margin-top: 25px;
    margin-left: 35px;
}

.create-acc-container{
  margin-top: 25px;
  margin-left: 50px;
}
/* ------------------------------- register page--------------------------------- */
.reg-wrapper{
  background-color: #7cbbc0;
  height: 490px;
  width:500px;
  margin-left: 395px;
    margin-top: 92px;
    border-radius: 45px;
    border: 2px solid #5C5787;
}
.btn.reg-btn{
  background-color: #FFEBAE ;
  height: 30px;
  width: 85px;
  border-radius: 25px;
  font-weight: bold;
  color: #543787;
  margin-top: 12px;
  margin-left: 130px;
}
.reg-headline{
  background: #FFEBAE;
  height: 45px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}
.reg-headline h2{
  padding-top: 10px;
  margin-left: 160px;
}
.reg-img img{
  height: 160px;
  margin-left: 100px;
  margin-bottom: 20px;
}
.reg-info-container{
  margin-left: 75px;
}
.std-teach{
  margin-bottom: 10px !important;
}
.std-teach input,select{
  width: 195px;
}

.std-teach.roll input{
  margin-left: 55px;
} 
.std-teach.pw input{
  margin-left: 59px;
}
.std-teach.phone input{
  margin-left: 80px;
}
.std-teach.email input{
  margin-left: 81px;
}
.std-teach.faculty select{
  margin-left: 70px;
}
.std-teach.name input  {
  margin-left: 78px ;
}
.std-teach.repeat-pw input{
  margin-left: 11px;
}
.reg-img.teach img{
  height: 160px;
    margin: 15px 0px 20px 160px;
}

/* ---------------------- menu page ---------------------------------------------*/
body section#menu-info-wrapper{
  background-image: url(../image/web_page/simple_bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar-img.menu img{
  height: 101px;
  width: 130px;
  margin-left: -90px;
}
.menu-headline{
  display: flex;
  background: #5C5787;
    height: 55px;
    align-items: center;
    justify-content: space-evenly;
}
.navBar-banner-headings.menu li a{
  color: #FFEBAE;
}

.navBar-banner-headings.menu li:hover a{
  background-color:   #FEB737;
  color: #5C5787;
  padding: 10px;
  border-radius: 10px;
}
.navBar-banner-headings.menu{
  display: flex;
  align-items: center;
  gap: 100px;
  margin-left: -43px;
}
section {

  height: 100vh; /* Makes each section fill the viewport height */

}
.menu-headline-title span{
  font-size: 25px;
  font-weight: bold;
}
.menu-image img{
  width: 500px;
  height: 500px;
  margin-left: 80px;
}
.menu-profile-name{
  font-size: 30px;
  margin: -31px 0px 35px 90px;
}
.menu-banner{
  margin: 160px 0px 0px 230px;
}
.menu-info{
  display: flex;
  flex-direction: column;
}
.menu-info-txt{
  font-weight: bold;
    font-size: 40px;
}
.menu-container-headline{
  background: #FFEBAE;
  height: 75px;
  width: 425px;
  margin: 40px 0px 2px 405px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#menu-food-info-wrapper{
  background-color: #7CB8C0;
  padding: 1px;
}
.btn.reg-btn.menu {
  background-color: #FFEBAE;
  height: 60px;
  width: 185px;
  border-radius: 25px;
  font-weight: bold;
  color: #543787;
  font-size: 22px;
 
 
}
.btn.reg-btn.menu .food-haunt{
    margin-top: 20px;
}
.btn.reg-btn.menu  img{
height: 98px;
margin-top: -23px;
}
.btn.reg-btn.menu:hover{
  background-color: #543787;
 
}
.btn.reg-btn.menu:hover a{
  color: #FEB737;
}
.btn.reg-btn.menu a{
text-decoration: none;
}
#menu-food-info-wrapper{
  height: 100vh;
}
.menu-container-txt{
  margin: 15px 0px 0px 10px !important;
}
#dish-quantity-1{
  font-size: 25px;
  background: #FFEBAE;
  width: 35px;
  justify-content: center;
  display: flex;
}
.dish-slide-container.menu{
  display: flex;
  gap: 55px;
    padding-left:135px;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.dish-slide-container.menu::-webkit-scrollbar{
  display: none;
}
.btn-quantity{
  width: 33px;
  height: 30px;
  font-size: 30px;
}
.dish-quantity-wrapper{
  display: flex;
}
.dish-slide-container.menu .dish-content-wrapper.menu{
  height: 400px;
  width: 250px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#dish-quantity{
  height: 29px;
  width: 33px;
  background-color: #FFEBAE;
  outline: 1px solid #5C5787;
  margin: 0px 10px;
}
#dish-status{
  height: 25px;
  width: 87px;
}
.dish-status-text{
  font-weight: bold;
}
.dish-price{
  margin-left: -36px;
}
.arrow.menu{
  position: absolute;
  top: 51px;
  z-index: 8;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #A7B7FE 100%);

  width: 10vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.arrow.menu.pre{
  left: 0;
}
.arrow.menu.next{
  right: 0;
}
.arrow.menu.pre svg,.arrow.menu.next svg{
   opacity:0.4;
}
.arrow.menu.pre:hover svg,
.arrow.menu.next:hover svg{
opacity: 1;
}

.menu-container{
  position:relative;
  overflow:hidden;
  display: flex;
    align-items: center;
}
#food-order-wrapper{
  background-image: url(../image/web_page/login-bg.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1px;
}
/* ----------------------------------   admin dash----------------------------------------------------------- */
.dash-nav-wrapper{
  background: #7CB8C0;
    width: 235px;
    height: 100vh;
    
}
.dash-nav-img img{
  width: 160px;
  margin-left: 20px;
  margin-top: -30px;
}
.dash-nav-profile{
  display: flex;
    flex-direction: column;
    align-items: center;


}
.dash-profile-name{
  font-size: 15px;
}
.dash-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-weight: bold;
    font-size: 25px;
    color: #FFEBAE;
}
.dash-panel-txt span{
  font-weight: bold;
    font-size: 25px;
}
.dash-panel-txt .dash.underline{
  text-decoration: underline;
}
span.dash{
  color: #ffebae;
}
.dash-wrapper{
  display: flex;
}
.dash-view-wrapper{
  margin: 55px 0px 0px 70px;
}
.dash-view-banner{
  height: 200px;
    width: 200px;
    background:  #7CB8C0;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    margin-top: 40px;
}
.dash-view.num{
color: #FFEBAE;
}
.dash-view.txt span{
color:#FFEBAE ;
}
.dash-view.profile{
  margin-left: 7px;
}
.dash-view.info{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.dash-view-content-wrapper{
  display: flex;
  gap: 35px;
}

.dash-panel-wrapper {
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition: transform 0.3s, opacity 0.3s;
  margin-top: 10px;
}

.dash-panel-wrapper:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  transition: transform 0.3s, opacity 0.3s;
}

.dash-panel-wrapper:hover {
  transform: translateY(-5px); /* Float effect */
}

.dash-panel-wrapper:hover:before {
  opacity: 1;
  transform: translateY(5px);
}
span.dash.dropdown a{
  display: block;
  text-decoration: none;
  padding: 10px;
}

.dropdown-content a{
  text-decoration: none;
  display: block;
  margin-top: 10px;
}
.dropdown-content a:hover{
  background-color: #d4e0f0;
  height: 40px;
  width: 120px;
  justify-items: center;
  border-radius: 10px;
}
.dash-view-txt{
  margin-top: -30px;
  margin-bottom: 15px;
}

/* --------dash button in reg------ */

.btn.reg-btn.dash{
  margin-left: 0px;
  font-size: 15px;
}

.btn:hover{
  background-color:#5C5787 ;
  color:  #FEB737;
}
/* ------------------------------- Staff add ------------------------------------- */
.reg-img.staff img{
margin-left: 160px;
height: 150px;
}
.std-teach.role.staff input{
  margin-left: 88px;

}
.std-teach.id.staff input{
  margin-left: 68px;
}
h2.reg-headline.staff{
  margin-left: 183px;
  padding-top: 0px;
}
.reg-info-container.staff{
  margin-bottom: 8px;
  margin-top: -26px;
  font-size: 20px;
}
.reg-wrapper.dash.staff{
  margin-left: 215px;
  margin-top: 29px;
  height: 500px;
}

.std-teach.name.staff input {
  margin-left: 98px;
}
.std-teach.id.staff input{
  margin-left: 84px;
}
.std-teach.role.staff input{
  margin-left: 108px;
}
.std-teach.email.staff input{
  margin-left: 99px;
}
.std-teach.phone.staff input{
  margin-left: 97px;
}
.std-teach.pw.staff input{
  margin-left: 71px;
}

/*-------------------------- background --------------------------------------------------------*/
body.bg-img{
  background-image: url(../image/web_page/update.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/*------------------------- search bar in dash---------------------------------------------- */
button.btn.search{
  background-color: #b1c9e9;
  height: 35px;
  width: 85px;
  border-radius: 22px;
  font-weight: bold;
  color: #543787;

  margin-left: 10px;
  font-size: 20px;
}

.search-box input{
  height: 30px;
  background: #e7e8ea;
  width: 235px;
  border-radius: 5px
}
.search-wrapper{
  display: flex;
  margin: 0px 0px 10px 41px;

}
.search-message p{
  margin: -4px 0px 1px 43px;
}