.dish-slide-container.menu.view{
    display: flex;
    flex-direction: column; /* Stack items vertically */
    max-height: 80vh; /* Set container height to 80% of the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
    gap: 20px; /* Space between cards */
    padding: 10px; /* Optional padding for aesthetics */
  }
  
  


.dish-slide-container.menu.view::-webkit-scrollbar {
  width: 20px;
}
.dish-slide-container.menu.view::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.dish-slide-container.menu.view::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
.dish-slide-container.menu.view::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.dish-slide-container.menu.view::-webkit-scrollbar {
   display: block;
}