section#food-order-wrapper table,section#food-order-wrapper th, section#food-order-wrappertd {
    border:2px solid black;
    border-collapse: collapse;
padding: 10px;
   
}
.order-wrapper{
    margin-top: 40px;
}
table {
    width: 100%;
}
tr {
    background-color: #b1c9e9;
}
th {
    background-color: #ececec;
}
.reg-wrapper.order{
    height: 500px;
    width: 700px;
    margin-left: 345px;
    margin-top: 97px;
}
.reg-wrapper.order.cart{
      height: 475px !important;
    width: 690px !important;
    margin-left: 338px !important;
    margin-top: 59px !important;
}
.order_title{
    display: flex;
    justify-content: space-between;
}
.order_count{
    margin: 15px 100px 15px 0px;
}